
  

 .nyaheader .navbar a:hover::after{
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 2px;
   background: #292B5B;
   transition: all 0.3s; 
 }
 @media (min-width: 1536px){
  .inside-nyaheader{
    padding: 1% 16%;
  }
  .nyaheader .logo img{
    width: 145px;
    height: 63px;
  }
  .nyaheader .navbar a{
    font-size: 18.6px;
  }
 }
 @media (min-width: 1920px) {
  .inside-nyaheader{
    padding: 1% 16%;
  }
  .nyaheader .logo img{
    width: 145px;
    height: 63px;
  }
  .nyaheader .navbar a{
    font-size: 18.6px;
  }
 }
 