
  
 
  
  
  
/*   
  .footer-column ul li a{
    color: #b8b8b8;
  }
  .footer-column ul li a:hover{
    color: #fff;
  }
  .footer-column ul li:hover{
    color: #fff;
  } */
  
 
  
  
  .social-icons .second:hover {
    background: linear-gradient(207.51deg, rgba(91, 81, 216, 0.865079) -11.59%, rgba(131, 58, 180, 0.666667) 6.55%, #C13584 26.24%, #E1306C 43.66%, #FD1D1D 70.55%, #FED877 93.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
 
  