
::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}


::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
}


::-webkit-scrollbar-thumb {
    background: linear-gradient(97.69deg, #5E5D7F 2.97%, #EF7F1A 97.77%);
    border-radius: 10px;
    border: 3px solid #f1f1f1; 
}


::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(97.69deg, #68678d 2.97%, #86470f 97.77%);
}

